@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100dvh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  background: transparent !important;
  padding: none !important;
  margin: none !important;
}

pre {
  padding-top: 0 !important;
}
