@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
  }
}

body {
  min-height: 100dvh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  background: transparent !important;
  padding: none !important;
  margin: none !important;
}

pre {
  padding-top: 0 !important;
}

body {
  overflow: scroll;
  scrollbar-color: gray transparent ;
  scrollbar-width: thin;
}

/* body {
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100vh;
 
  background: black;
  background-image: linear-gradient(rgba(255, 255, 255,0.01) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255,0.01) .1em, transparent .1em);
  background-size: 3em 3em;
} */